<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head');-%>

  <body>

    <!-- Navigation -->
    <%- include('layouts/navbar');-%>

      <!-- Main Content -->
      <main class="main-container">
        <section>
          <div class="hero_text">
            <h3 class="hero-text-heading">
              drive-test: licensed by the government
            </h3>
            <p class="hero-text-description">lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida nisl
              nec
              nisi
              eleifend, quis lobortis
              leo hendrerit.
              Nunc ac iaculis eros, interdum ullamcorper mi. Morbi luctus consectetur consequat. Nunc nisl urna, porta
              nec
              nibh vel,
              accumsan lobortis enim. Praesent nec porta purus. Donec sapien lectus, vehicula nec sem cursus, luctus
              finibus nulla.
              Sed libero est, ultrices vel ornare at, rutrum et ipsum. Phasellus vitae leo porta, accumsan dolor non,
              tempus lectus.</p>
            <button class="hero-text-button" onclick="window.location.href='./g2_test'">
              book a test
            </button>
          </div>
        </section>

      </main>

      <!-- Footer -->
      <%- include('layouts/footer');-%>

  </body>

</html>