<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head');-%>

  <body>

    <!-- Navigation -->
    <%- include('layouts/navbar');-%>

      <!-- Main Content -->
      <main class="main-container">
        <section>
          <div class="hero_text">
            <h1 class="hero-text-heading">
              404 Page Not Found
            </h1>
          </div>
        </section>

      </main>

      <!-- Footer -->
      <%- include('layouts/footer');-%>

  </body>

</html>